# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
algorithm/문자열 거꾸로 출력/Reverse_Output/.vs/Reverse_Output/v16/Browse.VC.opendb
game/두더지잡기/MoleCatching/.vs/MoleCatching/v16/Browse.VC.opendb
